<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Записаться к врачу</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <style>
        #bar {
            float: left ;
            display: block;
            width: 225px;
            border: 0px;
            margin: 0px;
        }

        #page {
            float: left;
            display: block;
            width: 560px;
            border: 1px;
            margin: 80px;
        }

        .exit {
            position:absolute;
            bottom:20px;
            left:30px;
        }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body>
<div id="bar" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style=" height: 1300px">
    <a th:href="@{'/registration/{id}'(id=${userId})}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="35" height="32"></svg>
        <span class="fs-4">Записаться</span>
    </a>
    <hr>
    <a th:href="@{'/schedule/{id}'(id=${userId})}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="35" height="32"></svg>
        <span class="fs-4">Расписание</span>
    </a>
    <hr>
    <a th:href="@{'/documents/{id}'(id=${userId})}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="35" height="32"></svg>
        <span class="fs-4">Документы</span>
    </a>
    <hr>
    <a href="/sign" class="align-items-center text-white text-decoration-none exit">
        <svg class="bi pe-none me-2" width="35" height="32"></svg>
        <span class="fs-6">Выйти</span>
    </a>
</div>

<div id="page" class="d-flex flex-column flex-shrink-0 col-md-7 col-lg-8">
    <h4 class="mb-3">Записаться к врачу</h4>
    <form action="/registration" method="post" modelAttribute="clientForm">
        <div class="col-md-5">
            <label for="qualif" class="form-label">Специальность</label>
            <select class="form-select" id="qualif" name="qualif" required>
                <option value="empty">Выбрать...</option>
                <option value="Гастроэнтеролог">Гастроэнтеролог</option>
                <option value="Дерматовенеролог">Дерматовенеролог</option>
                <option value="Инфекционист">Инфекционист</option>
                <option value="Кардиолог">Кардиолог</option>
                <option value="Невролог">Невролог</option>
                <option value="Офтальмолог">Офтальмолог</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Хирург">Хирург</option>
            </select>
        </div>

        <input type="hidden" name="userid" th:value="${userId}">

        <errors path="qualif"></errors>
        [[${qualifError}]]

        <div class="col-md-5" id="doctor_block" style="display: none">
            <label for="qualif" class="form-label">Врач</label>
            <select class="form-select" id="doctor" name="doctorid" required>
                <option value="empty">Выбрать...</option>

            </select>
        </div>

        <script>

            $("#qualif").on("change",
                function () {
                    var value = this.value;
                    console.log(value);
                    if (value == 'empty') {
                        $("#doctor_block").hide();
                        clearOption($("#doctor"));

                    }

                    $.ajax({
                        url: "/get-doc",
                        method: 'GET',
                        data: {
                            spec: value
                        },
                        success: function (data) {
                            if (data !== "") {
                                var select = $("#doctor");
                                clearOption(select);
                                select.append('<option value="empty">Выбрать...</option>');
                                for (let index = 0; index < data.length; index++) {
                                    let elem = data[index];
                                    let fio = elem.lastname + " " + elem.firstname[0] + "." + elem.middlename[0] + ".";
                                    select.append('<option value="' + elem.userid + '">' + fio + '</option>');
                                }
                                $("#doctor_block").show();
                            } else {
                                $("#doctor_block").hide();
                                clearOption($("#doctor"));
                            }
                        }
                    });
                });

            function clearOption(select) {
                select.find("option").remove();
            }
        </script>

        <errors path="doctor"></errors>
        [[${docError}]]

        <hr class="my-4">

        <h5 class="mb-3">Дата</h5>

        <div id="date_block" class="row gy-3">
            <div class="col-md-6">
                <input type="date" id="choosedate" name="dateappoitm" value="2022-12-24" min="2022-12-24" max="2023-01-07">
            </div>
        </div>




        <errors path="dateappoitm"></errors>
        [[${dateError}]]

            <hr class="my-4">

            <h5 class="mb-3">Время</h5>

        <div class="col-md-5" id="time_block" style="display: none">
            <label for="choosedate" id="ex" class="form-label"></label>
            <select class="form-select" id="time" name="timeappoitm" required>
                <option value="">Выбрать...</option>

            </select>
        </div>

        <script>

            $("#choosedate").on("change",
                function () {
                    var value = this.value;
                    if (value == 'empty') {
                        $("#time_block").hide();
                        clearOption($("#time"));

                    }

                    $.ajax({
                        url: "/get-time",
                        method: 'GET',
                        data: {
                            docid: document.getElementById("doctor").value,
                            docdate: value
                        },
                        success: function (data) {
                            document.getElementById("ex").innerHTML = "";
                            if (data !== "") {
                                var select = $("#time");
                                var ex = $("#ex");
                                $("#time_block").hide();
                                clearOption(select);
                                for (let index = 0; index < data.length; index++) {
                                    if (index === 0 && data[index] === "Врач не работает в этот день!") {
                                        $("#time").hide();
                                        clearOption($("#time"));
                                        document.getElementById("ex").innerHTML = "Врач не работает в этот день!";
                                    }else{
                                        $("#time").show();
                                        let elem = data[index];
                                        select.append('<option value="' + elem + '">' + elem + '</option>');
                                    }

                                }
                                $("#time_block").show();
                            } else {
                                $("#time_block").hide();
                                clearOption($("#time"));
                            }
                        }
                    });
                });

            function clearOption(select) {
                select.find("option").remove();
            }
        </script>

        <errors path="timeappoitm"></errors>
        [[${timeError}]]

            <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">Записаться</button>

    </form>


</div>

</body>
</html>